.seeMore{
    position: absolute;
    bottom: 2%;
    left: 45%;
    cursor: pointer;
    background: #66023c;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    box-shadow: inset 0 0 1.6em -0.6em #66023c;
    overflow: hidden;
    height: 2.6em;
    padding-right: 3.3em;
}
.cssbuttons-io-button {
    background: #4b0082;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
   }
   
   .seeMore .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    transition: all 0.3s;
   }
   
   .seeMore:hover .icon {
    width: calc(100% - 0.6em);
   }
   
   .seeMore .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
   }
   
   .seeMore:hover .icon svg {
    transform: translateX(0.1em);
   }
   
   .seeMore:active .icon {
    transform: scale(0.95);
   }

   