.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}


.heading{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
  margin-left: 3rem;
}

.loginbox{
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5.5px );
  -webkit-backdrop-filter: blur( 5.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

}

#login::before{
  content:"";
  position:absolute;
  background: url('https://th.bing.com/th/id/OIP.qHo7HE1ZTFCPPflZK9YdlQHaE8?w=256&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7') no-repeat center/cover;
  height: 120%;
  width: 100%; 
  z-index: -1;
  top: 0px;
  left: 0px;
  opacity: 0.8;
}

